$break_size:768px;
$projects_background:rgb(247, 235, 66);
#canvas1 {
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;

}

nav {
    @media screen and (min-width:$break_size) {
        ul {
            font-size:20px;
            margin-left: auto;
            display: flex;
            width: 210px;
            justify-content: space-between;
            padding: 20px;
            padding-top:10px;
            padding-bottom:0;
        }
    }
    @media screen and (max-width:$break_size) {
        ul {
            font-size:25px;
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            padding-top:10px;
            padding-bottom:0;
        }
    }

}

.navbar {
    padding-bottom:0px;
    padding-top:10px;
}

.name-container {
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    #name {
        #title {
            padding: 0;
            margin: 0;
            font-size: 4em;
            font-weight:300;
        }
        #subtitle {
            padding:10px;
            margin:0;
            font-size:1.5em;
            font-weight:100;
        }
        padding: 10px;
        padding-bottom: 50px;
    }

    img {
        margin-top: 0;
        margin-bottom: 0;
        display: block;
        margin: auto;
        border-radius: 300px;
        height: 250px;
        width: 250px;
        transition: 100ms ease;
    }

    .sharing-strip {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 550px;
        padding: 75px;
        padding-top:60px;
        padding-bottom:35px;
        margin: auto;
        a {
            color:black;
            text-decoration: none;
        }
        img {
            margin-bottom:10px;
            height: 40px;
            width: 40px;
        }

        img:hover {
            margin-bottom:10px;
            height: 40px;
            width: 40px;
            transform:rotate(360deg);
            transition: 1s ease;
        }
    }
}

body {
    text-align:center;
}
.header {
    font-size:4em;
    font-weight:300;
}

.my_work_button {
    margin:0;
    margin-top:30px;
}

#down_arrow {
    width: 50px;
    height: 50px;
    
}

#projects_section {
    border-radius:20px;
    padding-top:30px;
    padding-bottom:30px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
    width:98%;
    background: radial-gradient(#03c6fc,#07a3f7);
    color: white;

}

.card {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    color:white;
    margin-top:30px;
    margin-bottom:30px;
    border: 1px rgba(255,255,255,.18) solid;
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
    margin-left:auto;
    margin-right:auto;
    width:800px;
    height:300px;
}

ul {
    text-align:left;
    padding:20px;
}

.card-header {
    font-size:30px;
}

html {
    scroll-behavior: smooth;
}